// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

.I{
    font-weight: bold;
    color: $secondary !important;
}
.F{
    font-weight: bold;
    color: $success !important;
}
.E{
    font-weight: bold;
    color: $primary !important;
}
.C{
    font-weight: bold;
    color: $danger !important;
}